# Node
node_modules/

# Build
/dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tsbuildinfo

# Integration tests
/tests/integration/test.db
